@model lab03.Models.book

@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<p style="font-size:26px">ban da mua cuon sach <strong>@Model.tilte</strong> voi gia <strong>@Model.price</strong> VND </p> 

